<h1>Showing selected article</h1>

<p>
  <h4>Title: </h5>
  <%= @article.title %><br/>
  <h4>Description: </h5>
  <%= @article.description%>
</p>

<%= link_to 'Create another article', new_article_path %>


