<h3 align = "center" style="margin-bottom:25px">Meet the Alpha Bloggers</h3>

<div align = "center">
  <%= will_paginate @users %>
</div>

<div class='col-xs-8 col-xs-offset-2'>
  <% i = 0 %>
  <% while i < @users.size %>
    <div class='row' align='center'>
      <%= render 'shared/user', user: @users[i] %>
      <% if @users[i + 1] %>
        <%= render 'shared/user', user: @users[i + 1] %>
      <% end %>
      <% if @users[i + 2] %>
        <%= render 'shared/user', user: @users[i + 2] %>
      <% end %>
      <% i += 3 %>
    </div>
  <% end %>
</div>

