<h3 align='center' style='margin-bottom:15px'>
  <% if logged_in? && @user == current_user%>
    Your Articles
  <% else %>
    <%= @user.username %>'s Articles
  <% end %>
</h3>

<div class='row' align='center'>
  <div class = 'col-xs-8 col-xs-offset-2' style='margin-bottom:15px'>
    <%= gravatar_for@user, size: 100%>
  </div>
</div>

<div align="center">
  <%= will_paginate @user_articles %>
</div>

<%= render 'shared/articles', articles: @user_articles %>