<html>
	<%= stylesheet_link_tag("pages.css")%>
	<body>
		<div class = "bg"></div>
			<div class = "whiteFilm">
				<div class="titleBlock" style="margin-top:80px">
					About Alpha Blog
				</div>
			</div>
		</div>
	</body>
	<footer style="position:absolute; top:1000px; left:20px" >
		<p>Design by: Moses Liu</p>
		<p>
      <%= link_to('Home', root_path)%>
    </p>
	</footer>
</html>