<!DOCTYPE html>

<html>
	<body>
			<div class = "bg"></div>
				<div class = "whiteFilm">
					<div class="jumbotron titleBlock" style="margin-top:100px">
						<h1>Welcome to Alpha Blog</h1>
						<p>A place to share. A place to grow.</p><br/>
						<%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-default"%>
					</div>
				</div>
			</div>
	</body>
</html>
