<!DOCTYPE html>

<html>
	<body>
			<div class = "bg"></div>
				<div class = "whiteFilm">
					<div class="jumbotron titleBlock" style="margin-top:100px">
						<h1>Welcome to Alpha Blog</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. 
						Sed nisi.</p><br/>
						<p><a class="btn btn-primary btn-lg" href="#" role="button">Contribute Now</a></p>
					</div>
				</div>
			</div>
	</body>
</html>
