$navbar-default-bg:rgb(252, 253, 255);

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";


#logo {
  float: left;
  font-size: 1.7em;
  color:rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: bold;
}

#logo:hover {
  color: rgb(139, 139, 139);
  text-decoration: none;
}

.jumbotron {
  background-color: transparent; 
}

.footer {
  border-top: 1px solid gray;
  margin-top: 50px;
}

.article-meta {
  color: rgb(63, 82, 112);
}

.article-actions {
  border-top: 1px solid lightgray;
  padding-top: 10px;
}

.article-title {
  font-size: 1.5em;
  font-weight: bold;
  color: darkslategray;
  padding: 0px;
}

.article-description {
  color: gray;
}

.user-username {
  font-size: 1.25em;
  color: lightslategray;
}

.user-contributions {
  font-size: 1.1em;
  color: gray;
  margin-top: 20px;
  margin-bottom: 10px;
}

.thumbnail {
  background-color: rgb(252, 253, 255);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05), 0 3px 6px 0 rgba(0, 0, 0, 0.1);
}