<h3 align = "center" style="margin-bottom:20px">All Categories</h3>
<div class = "col-xs-4 col-xs-offset-4">
  <% for category in @categories %>
    <div class = "row">
      <div class = "well col-xs-8 col-xs-offset-2">
        <div align = "center">
          <%= link_to category.name, category_path(category), class: "article-title" %>
        </div>
      </div>
    </div>
  <% end %>
</div>