<h3 align = "center" style="margin-bottom:20px">
  All Categories <%=link_to "(+)", new_category_path%>
</h3>

<div class='col-xs-8 col-xs-offset-2'>
  <% i = 0 %>
  <% while i < @categories.size %>
    <div class='row' align='center'>
      <%= render 'shared/category', category: @categories[i] %>
      <% if @categories[i + 1] %>
        <%= render 'shared/category', category: @categories[i + 1] %>
      <% end %>
      <% if @categories[i + 2] %>
        <%= render 'shared/category', category: @categories[i + 2] %>
      <% end %>
      <% i += 3 %>
    </div>
  <% end %>
</div>